Repository LordKenshiro/Rallia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "packages/shared-translations/**/*.json": ["node scripts/dev/validate-translations.js"]
}

Feat/sport profile fixes and favorites filtering (#188)
  .lintstagedrc.json
  .prettierignore
  CreateCommunityModal_finetunning.txt
  CreateGroupModal_finetunning.txt
  EditCommunityModal_finetunning.txt
  EditGroupModal_finetunning.txt
  apps/mobile/App.tsx
  apps/mobile/src/components/BugReportFAB.tsx
  apps/mobile/src/components/BugReportSheet.tsx
  apps/mobile/src/context/BugReportSheetContext.tsx
  apps/mobile/src/features/communities/components/CreateCommunityModal.tsx
  apps/mobile/src/features/communities/components/EditCommunityModal.tsx
  apps/mobile/src/features/groups/components/CreateGroupModal.tsx
  apps/mobile/src/features/groups/components/EditGroupModal.tsx
  apps/mobile/src/features/onboarding/components/overlays/PickleballRatingOverlay.tsx
  apps/mobile/src/features/onboarding/components/overlays/TennisRatingOverlay.tsx
  apps/mobile/src/features/sport-profile/components/FavoriteFacilitiesSelector.tsx
  apps/mobile/src/features/sport-profile/components/PickleballPreferencesOverlay.tsx
  apps/mobile/src/features/sport-profile/components/TennisPreferencesOverlay.tsx
  apps/mobile/src/screens/Chat.tsx
  apps/mobile/src/screens/CommunityDetail.tsx
  apps/mobile/src/screens/GroupDetail.tsx
  apps/mobile/src/screens/SportProfile.tsx
  eslint.config.mjs
  packages/shared-hooks/src/useFavoriteFacilities.ts
  packages/shared-services/src/chat/messageService.ts
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
  supabase/migrations/20260319000000_fix_proof_certification_approved_status_check.sql
  supabase/migrations/20260319000001_fix_badge_status_enum_cast.sql
  supabase/migrations/20260319000002_fix_certified_via_enum_cast.sql
  supabase/migrations/20260319000003_fix_referrals_enum_value.sql
  supabase/types.ts
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

fix: add FK cascade migrations for account deletion and EULA page
  apps/web/app/[locale]/(marketing)/eula/page.tsx
  supabase/migrations/20260324000000_fix_fk_cascade_for_account_deletion.sql
  supabase/migrations/20260324000001_fix_fk_cascade_player_admin.sql
  supabase/migrations/20260324000002_add_missing_foreign_keys.sql
Due: eslint --fix, prettier --write

feat: bulk court creation, inline edit and delete on facility detail
  apps/web/app/[locale]/(admin)/admin/organizations/[slug]/facilities/[facilityId]/page.tsx
  apps/web/app/[locale]/(org)/dashboard/facilities/[id]/page.tsx
  apps/web/components/court-dialog.tsx
  apps/web/components/facility-courts-section.tsx
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

rework feedback email and fix broken dependency (#189)
  apps/mobile/src/components/BugReportSheet.tsx
  apps/mobile/src/context/BugReportSheetContext.tsx
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
  supabase/config.toml
  supabase/functions/send-feedback-notification/index.ts
  supabase/migrations/20260319100000_fix_feedback_notification_trigger.sql
  supabase/migrations/20260319100001_add_module_to_feedback_trigger_payload.sql
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

Actually upgrade @sentry/react-native to 8.4.0
  apps/mobile/package.json
  package-lock.json
Due: prettier --write

updated apps/mobile/package.json to fix eas build issues (#190)
  apps/mobile/package.json
  package-lock.json
Due: prettier --write

Replace FeedbackScreen with unified feedback bottom sheet
  apps/mobile/App.tsx
  apps/mobile/src/components/BugReportFAB.tsx
  apps/mobile/src/components/BugReportSheet.tsx
  apps/mobile/src/context/BugReportSheetContext.tsx
  apps/mobile/src/context/index.ts
  apps/mobile/src/features/facilities/screens/FacilitiesDirectory.tsx
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/Chat.tsx
  apps/mobile/src/screens/Community.tsx
  apps/mobile/src/screens/FeedbackScreen.tsx
  apps/mobile/src/screens/Home.tsx
  apps/mobile/src/screens/SettingsScreen.tsx
  packages/shared-components/src/headers/HelpButton.native.tsx
  packages/shared-components/src/headers/index.ts
  packages/shared-components/src/index.ts
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
  scripts/dev/functions-serve.sh
  supabase/migrations/20260320000002_filter_nearby_notifications_by_sport_and_skill.sql
  supabase/migrations/20260320000003_create_referral_invite_table.sql
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

fix: correct ASC key ID env var name and add Apple team type
  apps/mobile/eas.json
Due: prettier --write

feat: enhance bug report with metadata collection and improved feedback notifications
  APP_STORE_CHECKLIST.md
  apps/mobile/src/components/BugReportFAB.tsx
  apps/mobile/src/components/BugReportSheet.tsx
  apps/mobile/src/context/BugReportSheetContext.tsx
  packages/shared-services/src/feedback/userFeedbackService.ts
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
  supabase/functions/send-feedback-notification/index.ts
  supabase/migrations/20260321120000_add_feedback_metadata.sql
  supabase/migrations/20260321120001_add_metadata_to_feedback_trigger.sql
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

Fix iOS Sentry _SentryPrivate module error with dynamic framework
  apps/mobile/app.json
  apps/mobile/plugins/withSentryDynamicFramework.js
Due: eslint --fix, prettier --write

fix: update feedback modules, fix search keyboard dismissal in Chat & PlayerDirectory (#203)
  apps/mobile/src/components/BugReportSheet.tsx
  apps/mobile/src/features/community/components/PlayerDirectory.tsx
  apps/mobile/src/screens/Chat.tsx
  packages/shared-services/src/feedback/userFeedbackService.ts
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
  supabase/functions/send-feedback-notification/index.ts
  supabase/migrations/20260321110000_update_feedback_module_options.sql
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

fix: correct rating table reference in nearby match notification trigger
  supabase/migrations/20260326000000_fix_nearby_notification_rating_join.sql
Due: none

fix: store sport name instead of UUID in AsyncStorage
  apps/mobile/src/context/SportContext.tsx
Due: eslint --fix, prettier --write

chore: add Play Store screenshots for phone, tablet 7" and tablet 10"
  apps/mobile/assets/store/screenshots/IMG_0029.PNG
  apps/mobile/assets/store/screenshots/IMG_0030.PNG
  apps/mobile/assets/store/screenshots/IMG_0031.PNG
  apps/mobile/assets/store/screenshots/IMG_0032.PNG
  apps/mobile/assets/store/screenshots/IMG_0033.PNG
  apps/mobile/assets/store/screenshots/phone/IMG_9784-phone.png
  apps/mobile/assets/store/screenshots/phone/IMG_9785-phone.png
  apps/mobile/assets/store/screenshots/phone/IMG_9786-phone.png
  apps/mobile/assets/store/screenshots/phone/IMG_9787-phone.png
  apps/mobile/assets/store/screenshots/phone/IMG_9788-phone.png
  apps/mobile/assets/store/screenshots/tablet10/IMG_0029-tablet10.png
  apps/mobile/assets/store/screenshots/tablet10/IMG_0030-tablet10.png
  apps/mobile/assets/store/screenshots/tablet10/IMG_0031-tablet10.png
  apps/mobile/assets/store/screenshots/tablet10/IMG_0032-tablet10.png
  apps/mobile/assets/store/screenshots/tablet10/IMG_0033-tablet10.png
  apps/mobile/assets/store/screenshots/tablet7/IMG_0029-tablet7.png
  apps/mobile/assets/store/screenshots/tablet7/IMG_0030-tablet7.png
  apps/mobile/assets/store/screenshots/tablet7/IMG_0031-tablet7.png
  apps/mobile/assets/store/screenshots/tablet7/IMG_0032-tablet7.png
  apps/mobile/assets/store/screenshots/tablet7/IMG_0033-tablet7.png
Due: none

chore: add Play Store screenshot generator and framed screenshots
  apps/mobile/assets/store/screenshots/IMG_9784.PNG
  apps/mobile/assets/store/screenshots/IMG_9785.PNG
  apps/mobile/assets/store/screenshots/IMG_9786.PNG
  apps/mobile/assets/store/screenshots/IMG_9787.PNG
  apps/mobile/assets/store/screenshots/IMG_9788.PNG
  apps/mobile/assets/store/screenshots/generate.mjs
  apps/mobile/assets/store/screenshots/screenshot-1-home.png
  apps/mobile/assets/store/screenshots/screenshot-2-players.png
  apps/mobile/assets/store/screenshots/screenshot-3-facilities.png
  apps/mobile/assets/store/screenshots/screenshot-4-create.png
  apps/mobile/assets/store/screenshots/screenshot-5-detail.png
  apps/mobile/assets/store/screenshots/tablet10/screenshot-1-home.png
  apps/mobile/assets/store/screenshots/tablet10/screenshot-2-players.png
  apps/mobile/assets/store/screenshots/tablet10/screenshot-3-facilities.png
  apps/mobile/assets/store/screenshots/tablet10/screenshot-4-create.png
  apps/mobile/assets/store/screenshots/tablet10/screenshot-5-detail.png
  apps/mobile/assets/store/screenshots/tablet7/screenshot-1-home.png
  apps/mobile/assets/store/screenshots/tablet7/screenshot-2-players.png
  apps/mobile/assets/store/screenshots/tablet7/screenshot-3-facilities.png
  apps/mobile/assets/store/screenshots/tablet7/screenshot-4-create.png
  apps/mobile/assets/store/screenshots/tablet7/screenshot-5-detail.png
  apps/mobile/package.json
  package-lock.json
  package.json
Due: prettier --write

chore: add Google Play Store graphic assets
  apps/mobile/assets/store/play-store-feature-graphic-1024x500.png
  apps/mobile/assets/store/play-store-icon-512x512.png
Due: none

chore: remove unused Android permissions
  apps/mobile/app.json
Due: prettier --write

chore: temporarily disable user walkthrough
  apps/mobile/App.tsx
Due: eslint --fix, prettier --write

fix: safe area insets for sheet footers, community sport filtering, and misc improvements
  .github/workflows/ota-update-preview.yml
  .github/workflows/ota-update-production.yml
  apps/mobile/src/features/bookings/components/BookingDetailSheet.tsx
  apps/mobile/src/features/onboarding/components/overlays/PersonalInformationOverlay.tsx
  apps/mobile/src/features/onboarding/components/overlays/PickleballRatingOverlay.tsx
  apps/mobile/src/features/onboarding/components/overlays/PlayerAvailabilitiesOverlay.tsx
  apps/mobile/src/features/onboarding/components/overlays/PlayerInformationOverlay.tsx
  apps/mobile/src/features/onboarding/components/overlays/TennisRatingOverlay.tsx
  apps/mobile/src/features/onboarding/components/wizard/OnboardingWizard.tsx
  apps/mobile/src/features/shared-lists/components/InviteFromListsStep.tsx
  apps/mobile/src/features/sport-profile/components/PickleballPreferencesOverlay.tsx
  apps/mobile/src/features/sport-profile/components/ReferenceRequestOverlay.tsx
  apps/mobile/src/features/sport-profile/components/TennisPreferencesOverlay.tsx
  apps/mobile/src/screens/Map.tsx
  apps/mobile/src/screens/SettingsScreen.tsx
  repair_schema.sql
  supabase/migrations/20260328000000_fix_community_group_sport_filtering.sql
  supabase/repair_schema.sql
  supabase/seed.sql
Due: eslint --fix, prettier --write

fix: safe area insets for sheet footers and Android fetch truncation
  apps/mobile/src/components/ActionsBottomSheet.tsx
  apps/mobile/src/features/communities/components/CreateCommunityModal.tsx
  apps/mobile/src/features/groups/components/CreateGroupModal.tsx
  apps/mobile/src/features/groups/components/CreateNetworkWizard.tsx
  apps/mobile/src/features/matches/components/MatchCreationWizard.tsx
  apps/mobile/src/features/matches/components/MatchFeedbackWizard.tsx
  apps/mobile/src/features/shared-lists/components/CreateListModal.tsx
  apps/mobile/src/features/shared-lists/components/CreateShareListWizard.tsx
  packages/shared-services/src/availability/providers/BaseAvailabilityProvider.ts
Due: eslint --fix, prettier --write

fix: set EXPO_PUBLIC_APP_ENV in EAS build profiles
  apps/mobile/eas.json
Due: prettier --write

refactor: migrate feedback report sheet to actions-sheet and simplify form
  apps/mobile/App.tsx
  apps/mobile/src/components/BugReportSheet.tsx
  apps/mobile/src/context/BugReportSheetContext.tsx
  apps/mobile/src/context/sheets.tsx
  apps/mobile/src/screens/Chat.tsx
  packages/shared-services/src/feedback/userFeedbackService.ts
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
  supabase/functions/send-feedback-notification/index.ts
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

fix: remove elevation from match detail badges for Android
  apps/mobile/src/components/MatchDetailSheet.tsx
Due: eslint --fix, prettier --write

chore: remove feedback table seeding from seed script
  supabase/seed.sql
Due: none

fix: disable all notification triggers during seeding to prevent email quota burn
  supabase/seed.sql
Due: none

feat: check for OTA updates behind splash screen on launch
  apps/mobile/App.tsx
  apps/mobile/src/components/SplashOverlay.tsx
Due: eslint --fix, prettier --write

fix: use anon_key for feedback notification trigger (#241)
  supabase/functions/send-feedback-notification/index.ts
  supabase/migrations/20260330150000_fix_feedback_trigger_use_anon_key.sql
Due: eslint --fix, prettier --write

feat: re-enable Sentry error tracking on mobile
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/metro.config.js
  apps/mobile/package.json
  package-lock.json
Due: eslint --fix, prettier --write

docs: add beta testing plan
  docs/beta-testing-plan.md
  docs/beta-testing-plan.pdf
Due: prettier --write

chore: add .mcp.json to gitignore
  .gitignore
Due: none

feat: integrate PostHog analytics on web and mobile
  apps/mobile/App.tsx
  apps/mobile/package.json
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/providers/PostHogProvider.tsx
  apps/web/app/[locale]/(org)/layout.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/components/org-layout-wrapper.tsx
  apps/web/components/posthog-identify.tsx
  apps/web/components/posthog-provider.tsx
  apps/web/instrumentation-client.ts
  apps/web/next.config.ts
  apps/web/package.json
  package-lock.json
Due: eslint --fix, prettier --write
