Repository LordKenshiro/Rallia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "packages/shared-translations/**/*.json": ["node scripts/dev/validate-translations.js"]
}

chore: switch Android EAS submit to alpha track
  apps/mobile/eas.json
Due: prettier --write

fix: remove sensitive infrastructure access report published by mistake
  docs/infrastructure-access-report.md
Due: prettier --write

feat: add comprehensive PostHog event capturing across mobile app
  apps/mobile/App.tsx
  apps/mobile/src/components/ActionsBottomSheet.tsx
  apps/mobile/src/components/FeedbackSheet.tsx
  apps/mobile/src/components/MatchDetailSheet.tsx
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/context/MatchDetailSheetContext.tsx
  apps/mobile/src/context/SportContext.tsx
  apps/mobile/src/features/auth/hooks/useAuthWizard.ts
  apps/mobile/src/features/auth/hooks/useSocialAuth.ts
  apps/mobile/src/features/bookings/components/CancelBookingModal.tsx
  apps/mobile/src/features/communities/components/CommunityQRScannerModal.tsx
  apps/mobile/src/features/community/components/PlayerDirectory.tsx
  apps/mobile/src/features/groups/components/CreateGroupModal.tsx
  apps/mobile/src/features/groups/components/QRScannerModal.tsx
  apps/mobile/src/features/matches/components/MatchCreationWizard.tsx
  apps/mobile/src/features/matches/components/PlayerInviteStep.tsx
  apps/mobile/src/features/matches/components/steps/WhereStep.tsx
  apps/mobile/src/features/onboarding/components/overlays/PlayerAvailabilitiesOverlay.tsx
  apps/mobile/src/features/onboarding/components/wizard/OnboardingWizard.tsx
  apps/mobile/src/features/onboarding/hooks/useOnboardingWizard.ts
  apps/mobile/src/features/ratings/components/AddRatingProofOverlay.tsx
  apps/mobile/src/features/referral/components/steps/ShareLinkStep.tsx
  apps/mobile/src/hooks/usePushNotifications.ts
  apps/mobile/src/providers/PostHogProvider.tsx
  apps/mobile/src/screens/ChatConversation.tsx
  apps/mobile/src/screens/NotificationPreferencesScreen.tsx
  apps/mobile/src/screens/PlayerProfile.tsx
  apps/mobile/src/screens/PreOnboarding/PreOnboardingScreen.tsx
  apps/mobile/src/services/analytics.ts
Due: eslint --fix, prettier --write

feat: add uptime monitoring with health endpoint and cron heartbeats
  apps/web/app/api/health/route.ts
  supabase/functions/_shared/heartbeat.ts
  supabase/functions/close-matches/index.ts
  supabase/functions/process-program-payments/index.ts
  supabase/functions/recalculate-reputation-decay/index.ts
  supabase/functions/send-check-in-reminders/index.ts
  supabase/functions/send-feedback-reminders/index.ts
  supabase/functions/send-match-reminders/index.ts
Due: eslint --fix, prettier --write

feat: improve match interest email with i18n, conversion focus, and mobile redirect
  apps/web/app/[locale]/(marketing)/games/_components/join-match-dialog.tsx
  apps/web/app/[locale]/(marketing)/match/[id]/page.tsx
  apps/web/app/api/submit-match-interest/route.ts
  supabase/functions/_shared/email-translations.ts
  supabase/functions/send-email/handlers/match-interest.ts
  supabase/functions/send-email/schemas.ts
  supabase/functions/send-email/templates/match-interest.ts
  supabase/functions/send-email/types.ts
  supabase/migrations/20260331200000_add_match_interest_email_trigger.sql
  supabase/migrations/20260331300000_add_locale_to_match_interest.sql
Due: eslint --fix, prettier --write

feat: add sport filtering to chat conversations and clean up edge functions
  apps/mobile/src/features/communities/components/EditCommunityModal.tsx
  apps/mobile/src/features/groups/components/EditGroupModal.tsx
  apps/mobile/src/screens/Chat.tsx
  packages/shared-hooks/src/useChat.ts
  packages/shared-services/src/chat/conversationService.ts
  supabase/config.toml
  supabase/functions/delete-account/deno.json
  supabase/functions/delete-account/index.ts
  supabase/migrations/20260401000000_add_sport_filter_to_conversations.sql
Due: eslint --fix, prettier --write

fix: use implicit profile relation in match page query
  apps/web/app/[locale]/(marketing)/match/[id]/page.tsx
Due: eslint --fix, prettier --write

fix: make download CTA card match height of match card
  apps/web/app/[locale]/(marketing)/match/[id]/page.tsx
Due: eslint --fix, prettier --write

feat: add dark mode store badges, title/subtitle to match page
  apps/web/app/[locale]/(marketing)/invite/[code]/page.tsx
  apps/web/app/[locale]/(marketing)/match/[id]/page.tsx
  apps/web/public/app-store-badge-light.svg
  apps/web/public/google-play-badge-light.svg
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js
