Repository LordKenshiro/Rallia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "packages/shared-translations/**/*.json": ["node scripts/dev/validate-translations.js"]
}

fix: add player_group network type and repair migrations
  apps/mobile/src/screens/SettingsScreen.tsx
  package-lock.json
  package.json
  packages/shared-services/src/feedback/userFeedbackService.ts
  supabase/migrations/20260204000002_handle_new_user_email_leave_names_null.sql
  supabase/migrations/20260204000003_remove_debug_notification_trigger.sql
  supabase/migrations/20260214000001_fix_creator_not_added_as_member.sql
  supabase/migrations/20260220000001_consolidate_location_to_player.sql
  supabase/migrations/20260221000001_create_feedback_screenshots_bucket.sql
  supabase/migrations/20260226000000_add_player_group_network_type.sql
Due: eslint --fix, prettier --write

Refine facility detail UI, booking sheets, and availability display
  apps/mobile/src/features/facilities/components/AvailabilitySlotCard.tsx
  apps/mobile/src/features/facilities/components/CourtBookingSheet.tsx
  apps/mobile/src/features/facilities/components/CourtCard.tsx
  apps/mobile/src/features/facilities/components/ExternalBookingSheet.tsx
  apps/mobile/src/features/facilities/components/InfoTab.tsx
  apps/mobile/src/features/facilities/components/TimeOfDaySection.tsx
  apps/mobile/src/features/facilities/screens/FacilityDetail.tsx
  apps/mobile/src/features/matches/components/MatchCreationWizard.tsx
  apps/mobile/src/features/matches/components/steps/WhereStep.tsx
  packages/shared-hooks/src/useCourtAvailability.ts
  packages/shared-services/src/availability/availabilityService.ts
  packages/shared-services/src/availability/providers/LoisirMontrealProvider.ts
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

Fix TS error: move formatDateLocal before its first usage
  apps/mobile/src/features/matches/components/MatchCreationWizard.tsx
Due: eslint --fix, prettier --write

feat: add legal pages, delete account flow, and clean up unused code
  apps/mobile/src/data/mockMatches.ts
  apps/mobile/src/features/auth/components/steps/EmailStep.tsx
  apps/mobile/src/features/matches/data/mockMatches.ts
  apps/mobile/src/features/onboarding/components/overlays/AuthSuccessOverlay.tsx
  apps/mobile/src/features/onboarding/components/overlays/index.ts
  apps/mobile/src/screens/GroupChatInfo.tsx
  apps/mobile/src/screens/Match.tsx
  apps/mobile/src/screens/SettingsScreen.tsx
  apps/web/app/[locale]/(marketing)/delete-account/page.tsx
  apps/web/app/[locale]/(marketing)/privacy/page.tsx
  apps/web/app/[locale]/(marketing)/terms/page.tsx
  apps/web/components/enzuzo-embed.tsx
  package-lock.json
  package.json
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
  supabase/functions/delete-account/index.ts
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

chore: fix seed data for match location, file cleanup, and cost logic
  supabase/seed.sql
Due: none

chore: enhance seed data with match attributes and rating scores
  supabase/seed.sql
Due: none

chore: update app store checklist with completed P0 items
  APP_STORE_CHECKLIST.md
Due: prettier --write

chore: use ASC API key for EAS builds to bypass Apple 2FA
  apps/mobile/eas.json
Due: prettier --write

chore: update EAS build images to Xcode 26.2 (#210)
  apps/mobile/eas.json
Due: prettier --write

fix: use npm: specifier for supabase-js in delete-account edge function
  supabase/functions/delete-account/index.ts
Due: eslint --fix, prettier --write

fix: add FK cascade migrations for account deletion and EULA page
  apps/web/app/[locale]/(marketing)/eula/page.tsx
  supabase/migrations/20260324000000_fix_fk_cascade_for_account_deletion.sql
  supabase/migrations/20260324000001_fix_fk_cascade_player_admin.sql
  supabase/migrations/20260324000002_add_missing_foreign_keys.sql
Due: eslint --fix, prettier --write

feat: enforce 13y1m minimum age and add seed profile avatars
  apps/mobile/src/features/onboarding/components/overlays/PersonalInformationOverlay.tsx
  apps/mobile/src/features/onboarding/components/wizard/OnboardingWizard.tsx
  apps/mobile/src/features/onboarding/components/wizard/steps/PersonalInfoStep.tsx
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
  supabase/seed.sql
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

feat: add coveted player badge to private and public profiles
  apps/mobile/src/components/CovetedBadge.tsx
  apps/mobile/src/screens/PlayerProfile.tsx
  apps/mobile/src/screens/UserProfile.tsx
Due: eslint --fix, prettier --write

feat: bulk court creation, inline edit and delete on facility detail
  apps/web/app/[locale]/(admin)/admin/organizations/[slug]/facilities/[facilityId]/page.tsx
  apps/web/app/[locale]/(org)/dashboard/facilities/[id]/page.tsx
  apps/web/components/court-dialog.tsx
  apps/web/components/facility-courts-section.tsx
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

fix: add admin bypass to facility and court RLS policies
  supabase/migrations/20260324100000_add_admin_bypass_to_facility_court_rls.sql
Due: none

fix: correct ASC key ID env var name and add Apple team type
  apps/mobile/eas.json
Due: prettier --write

Filter nearby match notifications by sport, skill level, and gender
  supabase/migrations/20260320000000_filter_nearby_notifications_by_sport_and_skill.sql
Due: none

Fix backfill order in rating reference migration (#196)
  supabase/migrations/20260319000004_scope_references_to_rating_level.sql
Due: none

Add RLS to all unprotected tables, harden edge functions and admin endpoint
  apps/web/app/api/admin/create-super-admin/route.ts
  supabase/config.toml
  supabase/functions/generate-weekly-matches/index.ts
  supabase/functions/send-admin-push/index.ts
  supabase/functions/send-feedback-notification/index.ts
  supabase/migrations/20260320000000_add_missing_rls_policies.sql
  supabase/migrations/20260320000001_fix_feedback_trigger_service_role_key.sql
  supabase/migrations/20260320100000_reenable_rls_consolidated_tables.sql
  supabase/migrations/20260320100001_drop_unused_tables.sql
Due: eslint --fix, prettier --write

Add iOS simulator false to preview profile
  eas.json
Due: prettier --write

Add referral invite modal for beta user growth
  apps/mobile/App.tsx
  apps/mobile/src/components/ReferralInviteSheet.tsx
  apps/mobile/src/context/sheets.tsx
  apps/mobile/src/utils/referralInviteFrequency.ts
  packages/shared-translations/src/locales/en-US.json
  packages/shared-translations/src/locales/fr-CA.json
  supabase/migrations/20260320000001_create_referral_invite_table.sql
Due: eslint --fix, prettier --write, node scripts/dev/validate-translations.js

fix: bug fixes, Android map improvements, and distance on player profile (#202)
  apps/mobile/src/components/MatchDetailSheet.tsx
  apps/mobile/src/screens/Map.tsx
  apps/mobile/src/screens/PlayerProfile.tsx
  check_response.sql
  fix_trigger.sql
  supabase/functions/send-feedback-notification/index.ts
  supabase/migrations/20260321090000_fix_admin_rls_infinite_recursion.sql
  supabase/migrations/20260321100000_disable_auto_match_generation_for_beta.sql
  test_feedback_trigger.sql
Due: eslint --fix, prettier --write

Downgrade @sentry/react-native to 8.1.0 to fix iOS build
  apps/mobile/package.json
  package-lock.json
Due: prettier --write

Secure storage buckets, polish email templates, and add demo account auth
  apps/mobile/.env.example
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/features/ratings/components/ProofGallerySection.tsx
  apps/mobile/src/features/ratings/components/ProofViewer.tsx
  apps/mobile/src/screens/RatingProofs.tsx
  apps/mobile/src/services/imageUpload.ts
  apps/web/package.json
  apps/web/public/icons/pickleball.svg
  apps/web/public/icons/tennis.svg
  supabase/functions/_shared/email-layout.ts
  supabase/functions/_shared/email-translations.ts
  supabase/functions/send-notification/templates/match.ts
  supabase/functions/send-notification/templates/organization.ts
  supabase/migrations/20260320200000_secure_storage_buckets.sql
  supabase/migrations/20260320200001_fix_admin_rls_infinite_recursion.sql
  supabase/templates/confirmation.html
  supabase/templates/magic_link.html
Due: eslint --fix, prettier --write

Use APPLICATION_EXTENSION_API_ONLY fix from Sentry docs
  apps/mobile/plugins/withSentryDynamicFramework.js
Due: eslint --fix, prettier --write

Fix duplicate migration timestamp (#194)
  supabase/migrations/20260319000004_scope_references_to_rating_level.sql
Due: none

Change email subject prefix from [Rallia] to [Feedback]
  supabase/functions/send-feedback-notification/index.ts
Due: eslint --fix, prettier --write

Disable Sentry in mobile app
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/metro.config.js
Due: eslint --fix, prettier --write
